extends ../base
block title
    | Alibek M
block main    
    header#header
        .nav
            .container
                .col-md-2
                    .nav__link
                        a.nav__link-a.active(href="#header") Alibek M
                .col-md-3.col-md-offset-7
                    .col-md-4.nav__link
                        a.nav__link-a(href="#works") Works
                    .col-md-4.nav__link
                        a.nav__link-a(href="#about") About
                    .col-md-4.nav__link
                        a.nav__link-a(href="#contacts") Contacts        
        .container
            .col-md-6
                h1.header-hero-t Vusial Designer
            .col-md-6
                h1.header-hero-t Front-end Developer
            .col-md-2
                .line.header-l
        .header-b
            .container
                .col-md-12
                    .row
                        .header-b-links
                            .col-md-3
                                .row
                                    .header-b-left
                                        .header-b-link
                                            a.header-b-link-a.active(href='muxumov0087@gmail.com') muxumov0087@gmail.com
                            .col-md-3.col-md-offset-6.text-right
                                .row
                                    .header-b-right
                                        .col-md-4
                                            .header-b-link
                                                a.header-b-link-a(href='https://www.behance.net/remakerr', target='blank') Behance
                                        .col-md-4
                                            .header-b-link
                                                a.header-b-link-a(href='https://www.instagram.com/lbklbkk/', target='blank') Instagram
                                        .col-md-4
                                            .header-b-link
                                                a.header-b-link-a(href='https://vk.com/bigremake', target='blank') Vk
    section.about
        .container
            h1 aaaaaaa


            

