extends ../base
block title
    | Alibek M
block main    
    header
        .nav
            .container
                .col-md-2
                    .nav__link
                        a.nav__link-a.active(href="#") Alibek M
                .col-md-3.col-md-offset-7
                    .col-md-4.nav__link
                        a.nav__link-a(href="#") Works
                    .col-md-4.nav__link
                        a.nav__link-a(href="#") About
                    .col-md-4.nav__link
                        a.nav__link-a(href="#") Contacts        
        .container
            .col-md-6
                h1.header-hero-t Vusial Designer
            .col-md-6
                h1.header-hero-t Front-end Developer
            .col-md-2
                .line.header-l
        .header-b
            .container
                .col-md-12



    section.about
        .container
            h1 aaaaaaa


            

